*/{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-image: url(bg.jpg);
}
.navBar{
    background-color: rgba(3, 32, 60, 0.911);
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
}
.profileDiv{
    color: whitesmoke;
    margin: 2px;
    align-items: center;
    justify-content: center;
}
.profileDiv2{
color: white;
display: flex;
margin: 5px;
margin-left: 20px;
gap: 10px;
}

.aboutMe{
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 20px;
    margin-top: 20px;
}
.experienceArea{
    display: flex;
    justify-content: space-around;
    margin: 10px;
    align-items: center;
}
.htmlS{
    color: white;
    background-color: rgb(3, 71, 135);
    padding: 4px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
}
.lastNav{
    color: white;
    background-color: rgb(35, 5, 86);
    padding: 3px;
    cursor: pointer;
}